{% macro print_comments_recursively(reply, post) %}


<article class="uk-comment uk-comment-primary replies uk-margin-small-left" role="comment">
    <header class="uk-comment-header">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-comment-avatar" src="/images/bird-favicon.png"alt="">
            </div>
            <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{ reply.author.email | slice(0, 20) }} ... </a></h4>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                    <li><a href="#">12 days ago</a></li>
                    <li><a href="{{ path('add_comment', {'slug': post.slug, 'id': reply.id }) }}">Reply</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="uk-comment-body">

        <p>

            {{ reply.content | raw}}
        </p>
    </div>

    <div class="uk-margin-small-left">
        {% if reply.replies | length > 0 %}

            <p> {{ 'comment.replies' | trans }}</p>

            {% for reply in reply.replies %}

                {{ _self.print_comments_recursively(reply, post) }}

            {% endfor %}

        {% endif %}
    </div>
</article>




{#<div class="response">#}

{#        <article class="uk-comment uk-margin-medium-left" role="comment">#}

{#            <header class="uk-comment-header">#}

{#                <div class="uk-grid-medium uk-flex-middle" uk-grid>#}

{#                    <div class="uk-width-expand">#}

{#                        <h2 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" > {{ reply.author.email }} </a></h2>#}

{#                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">#}

{#                            <li><a id="comment_reply" href="{{ path('add_comment', {'slug': post.slug, 'id': reply.id }) }}"> Reply </a></li>#}

{#                        </ul>#}

{#                    </div>#}

{#                </div>#}

{#            </header>#}

{#            <div class="uk-comment-body">#}

{#                {{ reply.content | raw}}#}

{#            </div>#}

{#            {% if reply.replies | length > 0 %}#}

{#                <p> {{ 'comment.replies' | trans }}</p>#}

{#                {% for reply in reply.replies %}#}

{#                    {{ _self.print_comments_recursively(reply, post) }}#}

{#                {% endfor %}#}

{#            {% endif %}#}

{#        </article>#}
{#    </div>#}

{% endmacro %}