{% extends './base.html.twig' %} 

{% block title %}
    {{'post.list.title'|trans}}
{% endblock %}

{% block head %}

{% endblock %}


{% block body %}

    <h1></h1>
 {% if app.user %}
        <p uk-margin class="uk-text-center">
          
            <a id="special_style" class="uk-button uk-button-primary uk-button-large" href={{path('update_post')}}>{{'post.add'|trans}}</a>
        </p>
 {% endif %}

       
        <h2 class="uk-text-center">{{'post.list.title'|trans}}</h2>
       
        {% if pagination.items|length > 0 %}
         <div class="uk-container">
            <div class="uk-grid-small uk-child-width-1-3@m uk-child-width-1-2@s uk-grid-match uk-flex-center" uk-grid> 
                {% for post in pagination.items %}
                    <div >
                        <article id="index_posts" class="uk-article uk-card uk-card-default uk-card-body">
                                <h3 class="uk-card-title">{{ post.title}}</h3>
                                {% if post.description|length>100 %}
                                     {{ post.description | slice(0,100)  | raw  }}  ...    </strong> 
                                {% else %}
                                     {{ post.description | raw  }} 
                                {% endif %}
                                                     
                                <div class="uk-margin-top uk-flex-auto"></div>
                                <a href="{{ path('show_post', {'slug': post.slug}) }}"  class="uk-button uk-button-text">{{'post.read_more'|trans}}</a>
                        </article>   
                           
                    </div>
                {% endfor %}
              
            </div> 
        </div>
           
               
   <div class="uk-margin-large-top uk-text-center">
    {{ knp_pagination_render(pagination) }}
   </div>
    
        {% else %}
             <p class="uk-alert-warning" uk-alert>{{'post.none'|trans}}</p>
        {% endif %}
  

     
{% endblock %}