{% extends "./base.html.twig" %}

{% block body %}


    <article class="uk-article uk-margin uk-margin-large-left">

        <h1 class="uk-article-title"><a class="uk-link-reset" >{{post.title}}</a></h1>
        
        <p>{{'category.single'|trans}}: {{post.category}}</p>
        
        {% for tag in post.tags %}
            <span class="uk-article-meta uk-margin-small-right uk-margin-small-left">#{{tag.title}}</span>
        {% endfor %}

        <p class="uk-text-lead">{{post.description | raw}} </p>

        <h4> {{'attachment.list'|trans}}: </h4>
    
        {% for attachment in post.attachments %}
            <li>
                <a href="{{asset('uploads/'~ attachment.fileName)}}" target="blank">{{attachment.originalFileName}}</a>
            </li>
        {% else %}
            <p>{{'attachment.none'|trans}}</p>
        {% endfor %}
        
        {% if app.user %}
            <a href="{{ path('update_post', {'slug': post.slug}) }}" id="special_style" class="uk-button uk-button-default uk-button-primary">{{'post.edit'|trans}}</a>
        {% endif %}        
        
 
    </article>

   
{% endblock %}