{% extends "./base.html.twig" %}

{% import 'posts/_repiles.html.twig' as macros %}

{% block body %}

    {% block javascripts %}

        {{ encore_entry_script_tags('show') }}

    {% endblock %}

    <article class="uk-article uk-margin uk-margin-large-left">

        <h1 class="uk-article-title"><a class="uk-link-reset" >{{post.title}}</a></h1>
        
        <p>{{'category.single'|trans}}: {{post.category}}</p>
        
        {% for tag in post.tags %}
            <span class="uk-article-meta uk-margin-small-right uk-margin-small-left">#{{tag.title}}</span>
        {% endfor %}

        <p class="uk-text-lead">{{post.description | raw}} </p>

        <h4> {{'attachment.list'|trans}}: </h4>
    
        {% for attachment in post.attachments %}
            <li>
                <a href="{{asset('uploads/'~ attachment.fileName)}}" target="blank">{{attachment.originalFileName}}</a>
            </li>
        {% else %}
            <p>{{'attachment.none'|trans}}</p>
        {% endfor %}

        <h1></h1>

        {% if app.user %}

            <a href="{{ path('update_post', {'slug': post.slug}) }}" id="special_style" class="uk-button uk-button-default uk-button-primary">{{ 'post.edit'|trans }}</a>

            <a href="{{ path('add_comment', {'slug': post.slug}) }}" id="special_style" class="uk-button uk-button-default uk-button-primary">{{ 'comment.add'|trans }}</a>


            <h1></h1>
            <h1></h1>


                {% for comment in pagination.items %}

                    <h1></h1>

                   {% if comment.parent is null %}

                    <header class="uk-comment-header">

                        <div class="uk-grid-medium uk-flex-middle" uk-grid>

                            <div class="uk-width-expand">

                                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" >{{ comment.author.email }}</a></h4>

                                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">

                                    <li><a id="comment_reply" href="{{ path('add_comment', {'slug': post.slug, 'id':comment.id}) }}">Reply</a></li>

                                </ul>

                            </div>

                        </div>

                    </header>

                    <div class="uk-comment-body">

                        {{ comment.content | raw}}

                    </div>


                        {% if comment.replies | length > 0 %}

                            <p> {{ 'comment.replies' | trans }}</p>

                            {% for reply in comment.replies %}

                                {{ macros.print_comments_recursively(reply, post) }}

                            {% endfor %}

                        {% endif %}

                   {% endif %}

                {% endfor %}


            <div class="uk-margin-large-top uk-text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

        {% endif %}

    </article>

{% endblock %}