{% extends "./base.html.twig" %}

{% block body %}
   
   
    {% block javascripts %}

        {{ encore_entry_script_tags('update') }}
    
    {% endblock %}
   
    <h1></h1>
    
    {% if edit!=null %}
        
        <h2 class="uk-heading-line uk-text-center">{{'post.edit'|trans}} - {{post.title}}</h2>
    
    {% else %}

        <h2 class="uk-heading-line uk-text-center">{{'post.new'|trans}}</h2>

    {% endif %}
    
    
    <div class="uk-container uk-container-expand uk-margin-large-left uk-margin-large-right">
        {{ form_start(form) }}

                <div class="uk-margin">
                
                <label class="uk-form-label">{{'post.title'|trans}}</label>
                
                <div class="uk-form-controls">
            
                    {{ form_widget(form.title, {'attr': {'class': 'uk-input'}}) }}
            
                </div>
            
            </div>

            <div class="uk-margin">
            
                <label class="uk-form-label" >{{'post.description'|trans}}</label>
            
                <div class="uk-form-controls">

                    {{ form_widget(form.description) }}

                </div>
            
            </div>

   
            <div class="uk-margin">
                
                <label class="uk-form-label" >{{'post.slug'|trans}}</label>
                
                <div class="uk-form-controls">
               
                    {% if edit!=null %}
                    
                        {{ form_widget(form.slug, {'attr': {'class': 'uk-input', 'readonly': 'readonly'}}) }}
                        {{ form_errors(form.slug) }}
                
                    {% else %}

                        {{ form_widget(form.slug, {'attr': {'class': 'uk-input'}}) }}
                        {{ form_errors(form.slug) }}
                
                    {% endif %}
                   
                </div>
            
            </div>      

    
            <div class="uk-margin">
            
                <label class="uk-form-label" >{{'post.tags'|trans}}</label>
            
                <div class="uk-form-controls">
            
                    {{ form_widget(form.tags, {'attr': {'class': 'uk-select', 'multiple': 'multiple', 'size': '5'}}) }}
            
                </div>
            
            </div>

    
            <div class="uk-margin">
              
                <label class="uk-form-label" >{{'category.single'|trans}}</label>
               
                <div class="uk-form-controls">
               
                    {{ form_widget(form.category, {'attr': {'class': 'uk-select'}}) }}
               
                </div>
            
            </div>

            <div class="uk-margin">
              
                <label class="uk-form-label">{{'attachment.list'|trans}}</label>
              
                <ul>
                    {% for attachment in post.attachments %}
                        <li>
                            <a href="{{ asset('uploads/' ~ attachment.fileName) }}" target="_blank">
                                {{ attachment.originalFilename }}
                                 <button type="button" id="special_style" class="remove-attachment" onclick="removeAttachment(this)">X</button>
                            </a>
                        </li>
                    {% else %}
                        <li style="color:white; font-size: 20px;">{{'attachment.none'|trans}}</li>
                    {% endfor %}
                </ul>
                
                <div class="uk-form-controls" id="attachments-wrapper" 
                    
                    data-prototype="{{ form_widget(form.attachments.vars.prototype)|e('html_attr') }}">
                    {{ form_widget(form.attachments) }}  
                
                </div>

                <button type="button"  onClick='addAttachment()'
                        class="uk-button uk-button-secondary uk-button-center">{{'attachment.add'|trans}}</button>
            
            </div>



            <div class="uk-margin">

                <button type="submit"  class="uk-button uk-button-secondary uk-button-center"> {{'post.save'|trans}} </button>
            
            </div>


        {{ form_end(form) }}


    </div> 
    

     <script>

        tinymce.init({
            selector: '#post_form_description',
              
        }); 
       
    </script>

</body>

</html>

{% endblock %}