{% extends 'base.html.twig' %}

{% block title %}{{'sign.in'|trans}}{% endblock %}


{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                {{'logged.as'|trans}} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{'logout'|trans}}</a>
            </div>
        {% endif %}

        <div class="uk-container uk-container-expand uk-margin-large-left uk-margin-large-right">
        <h1></h1>
            <h2 class="h3 mb-3 font-weight-normal">{{'please.sign.in'|trans}}</h2>

            <div class="uk-margin">
                <label class="uk-form-label">{{'email'|trans}}</label>
                <div class="uk-form-controls">
                     <input type="email" value="{{ last_username }}" name="_username" id="username" 
                            class="uk-input uk-form-width-large" autocomplete="email" required autofocus>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">{{'password'|trans}}</label>
                <div class="uk-form-controls">
                <input type="password" name="_password" id="password" class="uk-input uk-form-width-large" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}">
            </div>
                     
        </div>

        <button type="submit" class="uk-button uk-button-primary uk-button-center">{{'sign.in'|trans}}</button>
                <a href="{{ path('app_forgot_password_request') }}">{{'reset.password'|trans}}</a>
    </form>
                

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <input type="checkbox" name="_remember_me" id="_remember_me">
                        <label for="_remember_me">Remember me</label>
                    </div>
                #}

                

   
{% endblock %}
