{% extends 'base.html.twig' %}

{% block title %}{{'user.login'|trans}}{% endblock %}


{% block body %}
    <div class="uk-container-expand login-form">


        <div class="uk-container login-image-container uk-visible@s">

            <img class="uk-img login-image uk-visible@s" src="/images/login-background.jpg" alt="registrationform-image"/>

        </div>

        <div class="uk-container login-form1">
            <div class="login-form2">
                <form method="post" class="uk-container">

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            {{'user.logged_as'|trans}} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{'user.logout'|trans}}</a>
                        </div>
                    {% endif %}


                    <h2 class="h3 mb-3 font-weight-normal uk-text-center">{{'user.please_login'|trans}}</h2>
                    <a class="uk-link-muted forgotten-password uk-text-center" href="{{ path('app_register') }}">{{'user.register.fromLogin'|trans}}</a>
                    <p></p>
                    <label class="uk-form-label">{{'user.email'|trans}}</label>

                    <input type="email" value="{{ last_username }}" name="_username" id="username"
                                class="uk-input uk-form-width-large" autocomplete="email" required autofocus>


                    <label class="uk-form-label">{{'user.password'|trans}}</label>

                    <div class="uk-form-controls">

                        <input type="password" name="_password" id="password" class="uk-input uk-form-width-large" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button type="submit" class="uk-button registration-button uk-button-secondary uk-width-1-1">{{'user.login'|trans}}</button>

                        <a class="uk-link-muted forgotten-password" href="{{ path('app_forgot_password_request') }}">{{'user.password.reset'|trans}}</a>

                        <hr class="uk-divider-icon">

                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'azure' })  }}" class="uk-button registration-button uk-button-secondary uk-width-1-1"> {{'user.azure.signin'|trans}}</a>
                    </div>

                </form>
            </div>
        </div>
</div>

                

   
{% endblock %}
