{% extends 'base.html.twig' %}

{% block title %}{{'user.login'|trans}}{% endblock %}


{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                {{'user.logged_as'|trans}} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{'user.logout'|trans}}</a>
            </div>
        {% endif %}

        <div class="uk-container uk-container-expand uk-margin-large-left uk-margin-large-right">
        <h1></h1>
            <h2 class="h3 mb-3 font-weight-normal uk-text-center">{{'user.please_login'|trans}}</h2>

            <div class="uk-margin">
                <label class="uk-form-label">{{'user.email'|trans}}</label>
                <div class="uk-form-controls">
                     <input type="email" value="{{ last_username }}" name="_username" id="username" 
                            class="uk-input uk-form-width-large" autocomplete="email" required autofocus>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">{{'user.password'|trans}}</label>
                <div class="uk-form-controls">
                <input type="password" name="_password" id="password" class="uk-input uk-form-width-large" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}">
            </div>
                     
        </div>

        <button type="submit" class="uk-button uk-button-primary uk-button-center">{{'user.login'|trans}}</button>
        
        <a href="{{ path('app_forgot_password_request') }}">{{'user.password.reset'|trans}}</a>
        
        <h3></h3>

        <a href="{{ path('connect_azure_start') }}" class="uk-button uk-button-primary uk-button-center"> {{'user.azure.signin'|trans}}</a>

  
    </form>
                



                

   
{% endblock %}
