{% extends 'base.html.twig' %}

{% block title %}{{'register'|trans}}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h2 class="uk-heading-line uk-text-center">{{'register'|trans}}</h2>
    <div class="uk-container uk-margin-large-left uk-margin-large-right">

    {{ form_errors(registrationForm) }}
     
    {{ form_start(registrationForm) }}
    
            <div class="uk-margin uk-width-1-1 uk-width-1-3@m">
                <label class="uk-form-label">{{'email'|trans}}</label>
                <div class="uk-form-controls">
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'uk-input'}}) }}
                    {{ form_errors(registrationForm.email) }}
                </div>
            </div>

            <div class="uk-margin uk-width-1-1 uk-width-1-3@m">
                <label class="uk-form-label" >{{'password'|trans}}</label>
                <div class="uk-form-controls">
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'uk-textarea', 'id':'description'}}) }}
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
            </div>
            <div class="uk-margin ">
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'uk-checkbox'}}) }}
                {{ form_label(registrationForm.agreeTerms, 'agree'|trans) }}
                <h1 class="uk-text-meta">{{'terms.agree'|trans}}</h1>
            </div>
        <button type="submit" class="uk-button uk-button-primary uk-button-center">{{'register'|trans}}</button>
    {{ form_end(registrationForm) }}




{% endblock %}
