{% extends 'base.html.twig' %}

{% block title %}{{'user.password.reset'|trans}}{% endblock %}

{% block body %}

    <h1></h1>
    <div class="uk-container">
          
        <p>
            {{'password.reset_expiry'|trans}} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>
            {{'user.password.reset_try_again'|trans}} <a href="{{ path('app_forgot_password_request') }}">{{'button.try_again'|trans}}</a>.
        </p>
    </div>

{% endblock %}
