{% extends 'base.html.twig' %}

{% block title %}{{'reset.password.tittle'|trans}}{% endblock %}

{% block body %}

    <h1></h1>
    <div class="uk-container">
          
        <p>
            {{'check_email.text'|trans}} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>
            {{'reset.password.tryagain'|trans}} <a href="{{ path('app_forgot_password_request') }}">{{'try.again'|trans}}</a>.
        </p>
    </div>

{% endblock %}
