{% if pageCount > 1 %}
    <ul class="uk-pagination uk-flex-center pagination">

        {% if previous is defined %}
            <li>
                <a rel="prev" href="{{ path(route, knp_pagination_query(query, previous)) }}">&laquo;&nbsp;{{ 'label_previous'|trans}}</a>
            </li>
        {% else %}
            <li class="uk-disabled">
                <span style="color:#0b0b0b">&laquo;&nbsp;{{ 'label_previous'|trans}}</span>
            </li>
        {% endif %}

        {% if startPage > 1 %}
            <li>
                <a href="{{ path(route, knp_pagination_query(query, 1)) }}">1</a>
            </li>
            {% if startPage == 3 %}
                <li>
                    <a href="{{ path(route, knp_pagination_query(query, 2)) }}">2</a>
                </li>
            {% elseif startPage != 2 %}
                <li class="uk-disabled">
                    <span style="color:#0b0b0b">&hellip;</span>
                </li>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li>
                    <a href="{{ path(route, knp_pagination_query(query, page)) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="uk-active">
                    <span style="color:#0b0b0b" >{{ page }}</span>
                </li>
            {% endif %}

        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <li class="uk-disabled">
                        <span style="color:#0b0b0b">&hellip;</span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path(route, knp_pagination_query(query, (pageCount - 1))) }}">{{ pageCount - 1 }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a href="{{ path(route, knp_pagination_query(query, pageCount)) }}">{{ pageCount }}</a>
            </li>
        {% endif %}

        {% if next is defined %}
            <li>
                <a rel="next" href="{{ path(route, knp_pagination_query(query, next)) }}">{{ 'label_next'|trans}}&nbsp;&raquo;</a>
            </li>
        {% else %}
            <li class="uk-disabled">
                <span style="color:#0b0b0b">{{ 'label_next'|trans }}&nbsp;&raquo;</span>
            </li>
        {% endif %}
    </ul>
{% endif %}