<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Symfony Project{% endblock %}</title>

    {# Dodaj UIkit CSS #}
    <link rel="stylesheet" href="{{ asset('css/uikit.min.css') }}">

    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
    {# Ovde možeš dodati dodatne CSS fajlove specifične za određene stranice #}
    {% endblock %}

</head>
<body>

    {% block body %}
        
    {% endblock %}

    {# Dodaj UIkit JavaScript #}
    <script src="{{ asset('js/uikit.min.js') }}"></script>
    <script src="{{ asset('js/uikit-icons.min.js') }}"></script>

    {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
    {# Ovde možeš dodati dodatne JS fajlove specifične za određene stranice #}
    {% endblock %}
</body>
</html>
